In [42]:
import pandas as pd
import numpy as np
import os
import codecs
import re
import sys
from datetime import datetime

In [8]:
txtpath='C:/Users/y2k702631393/Desktop/'
df=pd.read_csv(txtpath+'tt1.csv', 'r',encoding='big5')
df.head(2)

    中文,英文,value,date,time
0  你好,a,123,2019/1/1,5:30
1  我是,b,456,2019/1/2,6:30

In [14]:
df.columns = ['A,B,C,d,e']
df

                  A,B,C,d,e
0    你好,a,123,2019/1/1,5:30
1    我是,b,456,2019/1/2,6:30
2    裡要,b,789,2019/1/3,7:30
3   先割,b,4564,2019/1/4,8:30
4    多多,c,213,2019/1/5,9:30
5  指教,s,5484,2019/1/6,10:30
6   喔,e,1238,2019/1/7,11:30

In [15]:
#  True False 行跟列的差異
df3 = df['A,B,C,d,e'].str.split(',', 5, True)
df3

    0  1     2         3      4
0  你好  a   123  2019/1/1   5:30
1  我是  b   456  2019/1/2   6:30
2  裡要  b   789  2019/1/3   7:30
3  先割  b  4564  2019/1/4   8:30
4  多多  c   213  2019/1/5   9:30
5  指教  s  5484  2019/1/6  10:30
6   喔  e  1238  2019/1/7  11:30

In [31]:
df3.columns = ['Chinenese','Eng','Value','日期','時間']
df_value = df3.drop(['Chinenese','Eng'] , axis=1)
df_value=df_value.rename(columns={'Value':'數值'})

df_value

     數值        日期     時間
0   123  2019/1/1   5:30
1   456  2019/1/2   6:30
2   789  2019/1/3   7:30
3  4564  2019/1/4   8:30
4   213  2019/1/5   9:30
5  5484  2019/1/6  10:30
6  1238  2019/1/7  11:30

In [57]:
df_value['all time']=df_value['日期']+'/'+df_value['時間']
df_value

     數值        日期     時間        all time
0   123  2019/1/1   5:30   2019/1/1/5:30
1   456  2019/1/2   6:30   2019/1/2/6:30
2   789  2019/1/3   7:30   2019/1/3/7:30
3  4564  2019/1/4   8:30   2019/1/4/8:30
4   213  2019/1/5   9:30   2019/1/5/9:30
5  5484  2019/1/6  10:30  2019/1/6/10:30
6  1238  2019/1/7  11:30  2019/1/7/11:30

In [73]:
df_value['數值']=pd.DataFrame(df_value['數值'],dtype=np.float)
df_value.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
數值          7 non-null float64
日期          7 non-null object
時間          7 non-null object
all time    7 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 304.0+ bytes

In [74]:
df_value['all time']=df_value['all time'].apply(pd.to_datetime,format='%Y/%m/%d %H:%M')
df_value['all time']

0   2019-01-01 05:30:00
1   2019-01-02 06:30:00
2   2019-01-03 07:30:00
3   2019-01-04 08:30:00
4   2019-01-05 09:30:00
5   2019-01-06 10:30:00
6   2019-01-07 11:30:00
Name: all time, dtype: datetime64[ns]

In [75]:
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df3.dtypes, df3.columns):
    if dtype == ' float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

0 Integer Features : []

0 Float Features : []

5 Object Features : ['Chinenese', 'Eng', 'Value', '日期', '時間']

In [ ]:
# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(0)
MMEncoder = MinMaxScaler()
train_num = train_Y.shape[0]
df.head()