## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [10]:
import pandas as pd
import numpy as np
import random

In [103]:
r=[]
for i in range(4):
    x=random.randint(10000,100000)
    r.append(x)
c=['A', 'B', 'C', 'D']
data = {'country':c,'num': r}

In [105]:

data=pd.DataFrame(data)
data

  country    num
0       A  96791
1       B  63135
2       C  67414
3       D  71667

In [114]:
np.where(max(data.num))

(array([0], dtype=int64),)

In [115]:
print("最多人的國家是",data.country[0])

最多人的國家是 A